html{
	scroll-behavior: smooth;
}

body{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	color: #244441;
}


body, nav ul{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4,
.skills-list{
	font-family: 'Inknut Antiqua', serif;
}

ul li{
	list-style: none;
}

nav {
	background: rgb(216, 198, 150);
	text-align: center;
	position: fixed;
	z-index: 1;
	width: 100%
}

nav ul{
	margin: 0 auto;
}

nav ul li{
	display: inline-block;
	padding: 20px 0;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;

}

ul li a{
	text-decoration: none;
	color: #244441;
	padding: 10px 20px;
	transition: background 0.5s ease-in-out, color 0.25s ease-in-out, border-radius 0.5s ease-in-out;
}

nav li a:hover{
	background: #244441;
	color: white;
	border-radius: 100px;
}


li.empty {
	width: 100px;
	border-top: 2px solid black;
	top: 35px;
	position: relative;
}

header {
	height: 100vh;
	padding-top: 100px;
	margin-bottom: 50px;
	/*background-image: url(../img/background.png);*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;
	background-position-y: -250px;*/
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,198,150,1) 100%);
}

header img{
	box-shadow: 2px 2px 30px rgba(0,0,0,.5);
	margin: 40px 0 10px 0;
	border-radius: 50px;
}

img {
	border-radius: 50px;
}

header ul {
	padding: 0;
}

.button{
	background-color: rgb(216, 198, 150);
	border: 1px solid #244441;
	border-radius: 100px;
	text-decoration :none;
	padding: 10px 30px;
	display: inline-block;
	color: #244441;
	transition: background 0.5s ease-in-out, color 0.25s ease-in-out;
}

h1{
	color: #cea48c;
	font-size: 75px;
	line-height: 100%;
	margin-top:110px;
	font-weight: normal;
}
h2{
	color: #cea48c;
	font-size: 50px;
	line-height: 150%;
	font-weight: normal;
}
h3{
	color: #244441;
	font-size: 30px;
	line-height: 150%;
	font-weight: bold;
	margin: 0;
}




figcaption {
	font-size: 12px;
	text-align: center;
}

.right-allign {
	text-align: right;
}


p {
	text-align: justify;
	line-height: 150%
}


.skills-list{
	text-align: center;
	font-size: 30px;
	line-height: 150%;
	margin-bottom: 75px;
}

.col-sm img{
	max-width: 100%
}

.cosmetics, .ipad, .dashboard{
	margin: 70px 0;
	/*background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,198,150,0.75) 50%, rgba(255,255,255,1) 100%);*/
}

.cosmetics img, .ipad img, .dashboard img{
	max-height: 500px;
	display: block;
	box-shadow: 2px 2px 30px rgba(0,0,0,.5);
	margin: 0 auto 20px;
	border-radius: 50px;
}


.cosmetics, .ipad{
	/*background-color: rgb(216, 198, 150);*/
	
}

.cosmetics .button, .ipad .button, .dashboard .button{
	background-color: #FFFFFF;
}


footer {
	text-align: center;
	margin: 20px auto 40px;
}

.button:hover{
	background: #244441;
	color: white;
}